<div id="myTestimonial" class="carousel slide test-slider" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myTestimonial" data-slide-to="0" class="active"></li>
        <li data-target="#myTestimonial" data-slide-to="1"></li>
        <li data-target="#myTestimonial" data-slide-to="2"></li>
        <li data-target="#myTestimonial" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <h3><strong style="margin-left: 38%">Student Testimonials</strong></h3>
    <div class="carousel-inner">
        <div class="item active">
            <p>"The best educational institute I have ever attended in my life."</p>
            <img [src]="stdImg" alt="Los Angeles" class="std-img img-circle">
        </div>
        <div class="item">
            <p>"Its a very nice institute with all helping natured lecturers.
                REVamp has given a new platform to me, where I can prove my self. Also about the infrastructure,
                its very helpful to have all labs, lecture rooms, and hostels in one place (Karad branch)."</p>
            <img [src]="stdImg1" alt="Los Angeles" class="std-img img-circle">
        </div>
        <div class="item">
            <p>Los Angeles is a sprawling Southern California city and the center of the nation’s film and television industry.
                Near its iconic Hollywood sign, studios such as Paramount Pictures,
                Universal and Warner Brothers offer behind-the-scenes tours.</p>
            <img [src]="stdImg2" alt="Los Angeles" class="std-img img-circle">
        </div>
        <div class="item">
            <p>Los Angeles is a sprawling Southern California city and the center of the nation’s film and television industry.
                Near its iconic Hollywood sign, studios such as Paramount Pictures,
                Universal and Warner Brothers offer behind-the-scenes tours.</p>
            <img [src]="stdImg3" alt="Los Angeles" class="std-img img-circle">
        </div>
        <div class="item">
            <p>Los Angeles is a sprawling Southern California city and the center of the nation’s film and television industry.
                Near its iconic Hollywood sign, studios such as Paramount Pictures,
                Universal and Warner Brothers offer behind-the-scenes tours.</p>
            <img [src]="stdImg4" alt="Los Angeles" class="std-img img-circle">
        </div>
    </div>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myTestimonial" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myTestimonial" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

