.std-img{
    margin-left: 40%;
}
.test-slider{
    background-color: #f2f2f2;
    margin-bottom: 10px;
}
img {
    width: 150px;
    height: 100px;
    padding: 1px 20px 1px 20px;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 10px;
}
p{
    padding: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
    color: #e03237;
    text-shadow: 4px 5px 4px gray;
}
