
<div class="container">
    <div class="jumbotron">
<div align="center" class="fond">
    <h2>Our Team</h2>
    <div class="carre_couleur base_hov" style="background-color:#f8b334;">
        <div class="retract" style="background-color:#f8b334;"><img [src]="team1"></div>
        <div class="acced">
            <div class="big_acced" style="color:#f39c12;">BEST HOME</div>
            <div class="middle_acced"></div>
        </div>
    </div>
    <div class="carre_couleur base_hov" style="background-color:#2ecc71;">
        <div class="retract" style="background-color:#2ecc71;"><img [src]="team2"></div>
        <div class="acced">
            <div class="big_acced" style="color:#27ae60;">BEST PICS</div>
            <div class="middle_acced">This pics is the best</div>
        </div>
    </div>
    <div class="carre_couleur base_hov" style="background-color:#e74c3c;">
        <div class="retract" style="background-color:#e74c3c;"><img [src]="team3"></div>
        <div class="acced">
            <div class="big_acced" style="color:#c0392b;">BEST PC</div>
            <div class="middle_acced">This computer is the best</div>
        </div>
    </div>

</div>
</div>
</div>
<div class="container">
<about-mission></about-mission>
</div>

