
<div id="slider">
    <figure>
        <img [src]="image11" alt="failed to load">
        <img [src]="image12" alt="failed to load">
        <img [src]="image13" alt="failed to load">
        <img [src]="image14" alt="failed to load">
    </figure>
</div>
