<app-slider></app-slider>
    <div class="middle">
	<div class="row">
		<div class="col4">
           <new-course></new-course>
        </div>

		<div class="col8">
            <who-we></who-we>
		</div>
	</div>
    </div>
    <testimonial></testimonial>


