.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

.enquiry-form {
  background-color: #E03237;
  /* float: right;*/
  color: white;
  /* margin: 24px 0 12px 10px;*/
  border-color: #ffa8aa;
  /* color: $page-background-color;*/ }

.header {
  margin-bottom: 15px; }

.header-container {
  margin-top: 5px; }

.header-title {
  margin-bottom: 1px;
  color: #ffffff; }
  .header-title sup {
    position: absolute;
    margin-top: 4px;
    margin-left: 5px;
    font-size: 15px;
    color: #ffa8aa; }

.header-subtitle {
  margin: 0;
  font-size: 16px;
  line-height: 1.45;
  color: #ffa8aa; }

.header-nav {
  margin: 29px 0 29px 0; }
  .header-nav > li > a {
    border-color: #ffa8aa;
    color: #ffffff; }
    .header-nav > li > a:hover:not(.active) {
      border-color: #ff6469;
      background-color: #f94047; }
    .header-nav > li > a.active {
      border-color: #ff6469;
      background-color: #E03237;
      color: #ffa8aa; }
