        <aside>
            <div>
                <div style="width:auto; margin-left: 100px">
                    <h4 style="color: #ffa200;">Our Courses</h4>
                <marquee id="marquee" direction="up" scrollamount="3" height="212px" onmouseover="this.stop();" onmouseout="this.start();">
                    <div>
                        <div class="avatar">
                            <img [src]="meanlogo" height="40" width="40" >
                        </div>
                        <div>
                            <h5>
                                <a href='#'  style="color:#0033FF;line-height:18px">
                                    <span>MEAN</span>
                                </a>
                            </h5>
                        </div>
                    </div>
                    <div>
                        <div class="avatar">
                            <img [src]="angularlogo" height="40" width="40" >
                        </div>
                        <div>
                            <h5>
                                <a href='#'  style="color:#0033FF;line-height:18px">
                                    <span>Angular2</span>
                                </a>
                            </h5>
                        </div>
                    </div>
                    <div>
                        <div class="avatar">
                            <img [src]="mongologo" height="40" width="40" >
                        </div>
                        <div>
                            <h5>
                                <a href='#'  style="color:#0033FF;line-height:18px">
                                    <span>MongoDB</span>
                                </a>
                            </h5>
                        </div>
                    </div>
                    <div>
                        <div class="avatar">
                            <img [src]="nodelogo" height="40" width="40" >
                        </div>
                        <div>
                            <h5>
                                <a href='#'  style="color:#0033FF;line-height:18px">
                                    <span>NodeJS</span>
                                </a>
                            </h5>
                        </div>
                    </div>
                </marquee>
                </div>
            </div>
        </aside>

