<div class="container">
    <div class="row">
    <div class="col-md-6">
        <h1><small>Contact Us</small></h1>
        <div class="input-group" style="margin-bottom:15px">
            <i class=" glyphicon glyphicon-user input-group-addon" style="font-size:15px;color:red"></i>
            <input type="text" class="form-control" [(ngModel)]="fname" placeholder="First Name" required>
        </div>

        <div class="input-group" style="margin-bottom:15px">
            <i class=" glyphicon glyphicon-user input-group-addon" style="font-size:15px;color:red"></i>
            <input type="text" class="form-control" [(ngModel)]="lname" placeholder="Last Name" required>
        </div>

        <div class="input-group" style="margin-bottom:15px">
            <i class=" glyphicon glyphicon-envelope input-group-addon" aria-hidden="true" style="font-size:15px;color:red"></i>
            <input type="text" class="form-control" [(ngModel)]="email" placeholder="email" required>
        </div>

        <div class="input-group" style="margin-bottom:15px">
            <i class=" glyphicon glyphicon-phone input-group-addon" style="font-size:15px;color:red"></i>
            <input type="text" class="form-control" [(ngModel)]= "mobile"  placeholder="mobile" required>
        </div>

        <div class="input-group" style="margin-bottom:15px">
            <i class=" glyphicon glyphicon-comment input-group-addon" style="font-size:15px;color:red"></i>
            <textarea type="text" class="form-control" rows="3" [(ngModel)]="msg" placeholder="Message" required></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-danger btn-block" id="btn2" (click)="show()">Submit</button>
        </div>
    </div>
    <div class="col-md-6">
        <h1><small>Come Here...</small></h1>
        <pre>
           Address:

            Palladian square, E wing, Second Floor,

            Baner-Balewadi link Road,

            Pune, Maharashtra 411045, India
            Phones:

            (020) 60121601

            Email:

            info@eccentricinfotech.com
        </pre>
    </div>
    </div>
</div>
