<!--
<style>
    .mySlides {display:none;}
</style>
<body>

<h2 class="w3-center">Automatic Slideshow</h2>

<div class="w3-content w3-section" *ngFor="let image of revImg" style="max-width:100%">
    <img class="mySlides" src="images/web_developer.jpg" style="width:100%">
    &lt;!&ndash;<img class="mySlides" src="images/class-room.png" style="width:100%">
    <img class="mySlides" src="images/banner-class.jpg" style="width:100%">&ndash;&gt;
</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
    }
</script>

-->
