<div class="container">
    <div class="row">
        <div  class="col-xs-12 col-sm-6 col-sm-offset-2 col-lg-6 col-lg-offset-2 text-center">
            <h2> AngularJS</h2>
        </div>
    </div>
</div>
<hr class="style2" style="border-top: 3px double #8c8b8b;"><br>
<div class="container" >
    <div class="row" >
        <div class="col-lg-4 img-responsive" >
            <img [src]="img" style="border: 1px solid black">
        </div>
        <div class="col-lg-8">

            <div  class=" w3-container w3-center w3-animate-top" style="position: relative;
            -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
            -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
            box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
            padding: 15px 15px 15px 15px ;
            padding-left: 10px;
            margin-top: 10px;
             margin-right: 10px;
             background: white;

             " >
                <p style="font-size: 130%; font-family:Times New Roman, Times, serif;"> AngularJS, launched in the year 2009, now has become the great choice to build a CRUD client side App.
                    HTML was the perfect template language for static documentation but web application must be dynamic and interactive thus angularJS has become first preference of developer.
                    We are, at “Learn Digital Marketing” aware about newly updating technology.
                    And hence, conducting the course of angularJS, where trainee can get complete knowledge of angularJS up to date.</p>
                <h3>In common word, AngularJS is-</h3>
                <ul class="a">
                    <li>A MVC Structured Framework</li>
                    <li> A Single Page Application Framework</li>
                    <li>A Client Side Templating</li>
                    <li>A Language where written code can be easily tested by unit testing</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row" >
                <div class="col-xs-12 col-sm-6 col-sm-offset-2 col-lg-6 col-lg-offset-2 text-center">
                    <h2>Syllabus</h2>
                </div>
            </div>
        </div>
        <!-- <hr class="style2" style=" border: 0;
         height: 1px;
         background: #333;
         width: 200px;
         margin-left: 480px;
         background-image: linear-gradient(to right, #ccc, #333, #ccc);">--><br>
        <div class="col6">
            <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-red w3-left-align">Getting Started</button>
            <div id="Demo1" class="w3-hide w3-container w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red">
                <ul >
                    <li>Introduction</li>
                    <li>Selecting a Language</li>
                    <li>Selecting an Editor</li>
                    <li>Setting up Our Environment</li>
                    <li>Setting up an Angular 2 Application</li>
                    <li>Running an Angular 2 Application</li>
                    <li>About Modules</li>
                    <li>Loading ES Modules and Hosting Our Application</li>
                </ul>
            </div>

            <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-red w3-left-align">Introduction to Components</button>
            <div id="Demo2" class="w3-hide w3-container w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red">
                <ul ><li>Introduction</li>
                    <li>What Is a Component?</li>
                    <li>Creating the Component Class</li>
                    <li>Defining the Metadata with a Decorator</li>
                    <li>Importing What We Need</li>
                    <li>Demo: Creating the App Component</li>
                    <li>Bootstrapping Our App Component</li>
                    <li>Demo: Bootstrapping Our App Component</li>
                    <li>Checklists and Summary</li>
                    <li>Templates, Interpolation, and Directives</li>
                    <li>Introduction</li>
                    <li>Building a Template</li>
                    <li>Building the Component</li>
                    <li>Using a Component as a Directive</li>
                    <li>Binding with Interpolation</li>
                    <li>Adding Logic with Directives: ngIf</li>
                    <li>Adding Logic with Directives: ngFor</li>
                    <li>Checklists and Summary</li>
                </ul>
            </div>
            <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-red w3-left-align">
                Data Binding & Pipes</button>
            <div id="Demo3" class="w3-hide w3-container w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red">
                <ul >
                    <li>Introduction</li>
                    <li> Property Binding</li>
                    <li>Handling Events with Event Binding</li>
                    <li>Handling Input with Two-way Binding</li>
                    <li>Transforming Data with Pipes</li>
                    <li>Checklists and Summary</li>
                </ul>
            </div>

            <button onclick="myFunction('Demo4')" class="w3-button w3-block w3-red w3-left-align">More on Components (Advance)</button>
            <div id="Demo4" class="w3-hide w3-container w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red">
                <ul >
                    <li>Introduction</li>
                    <li> Defining Interfaces</li>
                    <li>Encapsulating Component Styles</li>
                    <li>Using Lifecycle Hooks</li>
                    <li>Building Custom Pipes</li>
                    <li>Relative Paths with Module Id</li>
                    <li>Checklists and Summary</li>
                </ul>
            </div>
            <button onclick="myFunction('Demo5')" class="w3-button w3-block w3-red w3-left-align">Building Nested Components</button>
            <div id="Demo5" class="w3-hide w3-container w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red">
                <ul >
                    <li>Introduction</li>
                    <li>Building a Nested Component</li>
                    <li>Using a Nested Component</li>
                    <li>Passing Data to a Nested Component Using @Input</li>
                    <li>Passing Data from a Component Using @Output</li>
                    <li>Checklists and Summary</li>
                </ul>
            </div>
            <button onclick="myFunction('Demo12')" class="w3-button w3-block w3-red w3-left-align">Forms</button>
            <div id="Demo12" class="w3-hide w3-container w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red">
                <ul >
                    <li>Introduction</li>
                    <li>Template Driven Form</li>
                    <li>Model driven Form</li>
                </ul>
                <ul > <li>Form Control</li>
                    <li>Form Group</li>
                    <li>Form Builder</li>
                </ul>

            </div>
        </div>

        <div class="col6">
            <button onclick="myFunction('Demo6')" class="w3-button w3-block w3-red w3-left-align">Services and Dependency Injection</button>
            <div id="Demo6" class="w3-hide w3-container w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red">
                <ul >
                    <li>Introduction</li>
                    <li>How Does It Work?</li>
                    <li>Building a Service</li>
                    <li>Registering the Service</li>
                    <li>Injecting the Service</li>
                    <li>Checklists and Summary</li>
                </ul>
            </div>
            <button onclick="myFunction('Demo7')" class="w3-button w3-block w3-red w3-left-align">Retrieving Data Using HTTP</button>
            <div id="Demo7" class="w3-hide w3-container w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red">
                <ul >
                    <li>Introduction</li>
                    <li>Observables and Reactive Extensions</li>
                    <li>Sending an HTTP Request</li>
                    <li>Exception Handling</li>
                    <li>Subscribing to an Observable</li>
                    <li>Checklists and Summary</li>
                </ul>
            </div>
            <button onclick="myFunction('Demo8')" class="w3-button w3-block w3-red w3-left-align">Navigation and Routing Basics</button>
            <div id="Demo8" class="w3-hide w3-container w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red">
                <ul >
                    <li>Introduction</li>
                    <li>How Routing Works</li>
                    <li>Configuring Routes</li>
                    <li>Tying Routes to Actions</li>
                    <li>Placing the Views</li>
                    <li>Checklists and Summary</li>
                </ul>
            </div>
            <button onclick="myFunction('Demo9')" class="w3-button w3-block w3-red w3-left-align">Navigation and Routing Additional Techniques</button>
            <div id="Demo9" class="w3-hide w3-container w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red">
                <ul >
                    <li>Introduction</li>
                    <li>Passing Parameters to a Route</li>
                    <li>Activating a Route with Code</li>
                    <li> Protecting Routes with Guards</li>
                    <li>Checklists and Summary</li>
                </ul>
            </div>
            <button onclick="myFunction('Demo10')" class="w3-button w3-block w3-red w3-left-align">Angular Modules</button>
            <div id="Demo10" class="w3-hide w3-container w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red">
                <ul >
                    <li>Introduction</li>
                    <li>What Is an Angular Module?</li>
                    <li>Bootstrap Array</li>
                    <li>Declarations Array</li>
                    <li>Exports Array</li>
                    <li>Imports Array</li>
                    <li>Providers Array</li>
                    <li>Feature Modules</li>
                    <li>Shared Module</li>
                    <li>Revisiting AppModule</li>
                    <li>Checklists and Summary</li>
                </ul>
            </div>
            <button onclick="myFunction('Demo11')" class="w3-button w3-block w3-red w3-left-align">Angular 2 Setup Revisited</button>
            <div id="Demo11" class="w3-hide w3-container w3-panel w3-pale-red w3-leftbar w3-rightbar w3-border-red">
                <ul >
                    <li>Introduction</li>
                    <li>TypeScript Configuration File (tsconfig.json) & TypeScript Definitions File (typings.json)</li>
                    <li>npm Package File (package.json)</li>
                    <li>SystemJS Configuration File (systemjs.config.js)</li>
                    <li>index.html File Scripts</li>
                    <li>Bootstrapping Revisited</li>
                    <li>Angular CLI</li>
                    <li>Summary</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--<div class="row">
<slider-demo></slider-demo>
</div>-->
