<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><strong>ReVamp Career Acadamy</strong></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
					<li class="active" *ngIf="!isUserAuthorized"><a [routerLink]="['/']" [class.active]="'/' | isRouteActive">Home</a></li>
                    <!--dropdown list for courses-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li *ngIf="!isUserAuthorized"><a [routerLink]="['/digital']"
                                                             [class.active]="'/digital' | isRouteActive">Digital Marketing</a></li>
                            <li *ngIf="!isUserAuthorized"><a [routerLink]="['/angularjs-courses']"
                                                             [class.active]="'/angularjs-courses' | isRouteActive">AngularJS</a></li>
                            <li *ngIf="!isUserAuthorized"><a [routerLink]="['/angular2-courses']"
                                                             [class.active]="'/angular2-courses' | isRouteActive">Angular2</a></li>
                            <li *ngIf="!isUserAuthorized"><a [routerLink]="['/courses']"
                                                             [class.active]="'/courses' | isRouteActive">Web Designing</a></li>
                            <li *ngIf="!isUserAuthorized"><a [routerLink]="['/courses']"
                                                             [class.active]="'/courses' | isRouteActive">Internship</a></li>
                        </ul>
                    </li>

                    <li *ngIf="!isUserAuthorized"><a [routerLink]="['/blog']" [class.active]="'/blog' | isRouteActive">Blog</a></li>
                    <li *ngIf="!isUserAuthorized"><a [routerLink]="['/contact']" [class.active]="'/contact' | isRouteActive">Contact</a></li>
                    <li *ngIf="!isUserAuthorized"><a [routerLink]="['/about']" [class.active]="'/about' | isRouteActive">About</a></li>
				</ul>
            <ul class="nav navbar-nav navbar-right">
            <h5 style="float: right; margin-top: 20px; color: #ffffff;">
                <i class="glyphicon glyphicon-envelope" style="font-size: 20px; color: #ffffff"></i><span> info@eccentric.com </span>
                                <i class="glyphicon glyphicon-earphone" style="font-size: 20px; color: #ffffff"></i>
                <span> (020)-60121601 </span></h5>
            </ul>
			</div>
		</div>
</nav>


<router-outlet></router-outlet>

<footer style="background-color: black">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" style="background-color: black">
        <side-bar></side-bar>
        </div>
            <div class="col-md-3" style="color: white; margin-top: 20px">
                <ul>Quick Links
                    <li><a [routerLink]="['/']" [class.active]="'/' | isRouteActive" target="_top">Home</a></li>
                    <li><a [routerLink]="['/blog']" [class.active]="'/blog' | isRouteActive" target="_top">Blogs</a></li>
                    <li><a [routerLink]="['/contact']" [class.active]="'/contact' | isRouteActive" target="_top">Contact</a></li>
                    <li><a [routerLink]="['/about']" [class.active]="'/about' | isRouteActive" target="_top">about</a></li>
                </ul>
            </div>
           <div class="col-md-3" style="color: white; margin-top: 20px">
              <ul>Courses
                  <li> <a [routerLink]="['/digital']" [class.active]="'/digital' | isRouteActive" target="_top">Digital Marketing</a></li>
                  <li><a [routerLink]="['/angularjs-courses']" [class.active]="'/angularjs-courses' | isRouteActive" target="_top">AngularJS</a></li>
                  <li> <a [routerLink]="['/angular2-courses']" [class.active]="'/angular2-courses' | isRouteActive" target="_top">Angular2/4</a></li>
                  <li><a [routerLink]="['/courses']" [class.active]="'/courses' | isRouteActive" target="_top">Internship</a></li>
              </ul>

           </div>
            <div class="col-md-3" style="margin-top: 20px">
                <my-enquiry></my-enquiry>
            </div>
        </div>
       <!-- <div class="row">
            <ul class="icon-effect icon-effect-1a">
                <li><a href="#" class="icon"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icon"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="icon"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>-->
    </div>
</footer>
