    <img [src]="who" />
    <!--<div class="panel panel-info">-->
    <h4 style="color: #ffa200;">Who We Are?</h4>
   <div class="who-div">  Eccentric Infotech is a software development, service provider in the area of software product engineering,enterprise mobility solutions, enterprise content management solutions and customer relationship management solutions.
    We will analyse your needs and design a solution that meets your requirements.
    Our goal is to deliver ‘excellent’ services to the customers.
    Our premium quality software helps to build commercial-grade and enterprise-strength software.
    We have extensive experience in IT outsourcing;our experts provide quick and valuable solutions for assorted business organizations
   </div>


