<!--
<div id="mySidenav" class="sidenav">
    <a href="#" id="google"><i class="fa fa-google"></i></a>
    <a href="#" id="twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" id="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="#" id="facebook"><i class="fa fa-facebook"></i></a>
</div>
-->

<!--
<div style="margin-left:80px;">
    <h2>Hoverable Sidenav Buttons</h2>
    <p>Hover over the buttons in the left side navigation to open them.</p>
</div>

-->

<nav class="social">
    <ul>
        <li><a href="https://twitter.com/gian_michelle">Twitter <i class="fa fa-twitter"></i></a></li>
        <li><a href="https://facebook.com/">Facebook <i class="fa fa-facebook"></i></a></li>
        <li><a href="http://dribbble.com/gian_michelle">Google <i class="fa fa-google"></i></a></li>
        <li><a href="http://behance.net/gianm">Linkedin <i class="fa fa-linkedin"></i></a></li>
    </ul>
</nav>

