<button class="btn btn-default btn-sm enquiry-form" data-toggle="modal" data-target="#myModal">Enquiry Here</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">Enquiry Form</h4>
            </div>
            <div class="modal-body">
                <form>

                    <div class="input-group" style="margin-bottom:15px">
                        <i class="input-group-addon glyphicon glyphicon-user" style="color:red; font-size:15px"></i>
                        <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName" placeholder="Enter Your Name" required autofocus>
                    </div>

                    <div class="input-group" style="margin-bottom:15px">
                        <i class="input-group-addon glyphicon glyphicon-envelope" style="color:red; font-size:15px"></i>
                        <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Enter Your EmailId" required>
                    </div>


                    <div class="input-group" style="margin-bottom:15px">
                        <i class="input-group-addon glyphicon glyphicon-education" style="font-size:15px;color:red"></i>
                        <input type="text" class="form-control" [(ngModel)]="course" name="course" placeholder="Enter the course" required>
                    </div>

                    <div class="input-group" style="margin-bottom:15px">
                        <i class="input-group-addon glyphicon glyphicon-envelope" style="font-size:15px;color:red"></i>
                        <textarea type="text" class="form-control" [(ngModel)]="messageDesc" name="messageDesc" rows="3"placeholder="Massege" required></textarea>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-danger btn-block" name="btn2" type="submit" (click)="addUser()">Submit</button>
                    </div>
                </form>
            </div>
        <!--modal footer-->
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" #closeBtn>Close</button>
        </div>
        </div>
    </div>
</div>
