
#mySidenav a {
    margin-top: 550px;
    position: absolute;
    bottom: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    border-radius: 0 30px 30px 0;
}

#mySidenav a:hover {
    bottom: 0;
}

#enquiry{
    top: 20px;
    background: #dd4b39;
}
