html, body{height: 100%}
body{
    background: rgba(44, 62, 80,1.0);
    display: flex;
}
.card {
    width: 380px;
    padding: 30px;
    background: #1abc9c;
    margin: auto;
    transition: .3s ease;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
:hover {
           box-shadow: 0 5px 20px rgba(0, 0, 0, .8);
           transform: translateY(-10px) scale(1.02);
       }
.entry-title{
    background-position: -100% 0;
}


.entry-title {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(22, 160, 133, 1.0) 50%);
    background-size: 200%;
    background-position: 0 0;
    display: inline;
    transition: .5s ease-in-out;
    font-family: raleway, arial, sans-serif;
    text-transform: uppercase;
}
 h1 :hover{
    color: white;
    text-decoration: none;
}
.after { margin-bottom: 10px;}

small {
    margin-top: 20px;
    display: block;
    font-family: raleway, arial, sans-serif;
    color: white;
    text-transform: uppercase;
}
small a{
    font-weight: 700;
    color: white;
    text-decoration: none;

}

span {
    display: block;
    margin-top: 10px;
    font-family: raleway, arial, sans-serif;
    font-weight: 700;
    color: #16a085;
}
a{color: white}

